@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

nav header {
  max-width: 100vw !important;
}

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.profile-bg {
  background-image: url("https://cdn.dribbble.com/userupload/6625696/file/original-7334ecb2aaf44870dca130caeb085cad.jpg?resize=1200x675&vertical=center");
  background-position: 50%;
}
